Videos_for_evaluation/爱我别走_1.mp4 filter=lfs diff=lfs merge=lfs -text
Videos_for_evaluation/普洱茶香千年_1.mp4 filter=lfs diff=lfs merge=lfs -text
Videos_for_evaluation/舌尖上的美女_1.mp4 filter=lfs diff=lfs merge=lfs -text
Videos_for_evaluation/现代奥林匹克发展历史_1.mp4 filter=lfs diff=lfs merge=lfs -text
Videos_for_evaluation/MythBusters.mp4 filter=lfs diff=lfs merge=lfs -text
Videos_for_evaluation/迪拜音乐喷泉_1.mp4 filter=lfs diff=lfs merge=lfs -text
Videos_for_evaluation/中国的军事第一个虚拟现实电影[[:space:]]看完整个人燃爆了！_1.mp4 filter=lfs diff=lfs merge=lfs -text
Videos_for_evaluation/郁可唯全景演唱_1.mp4 filter=lfs diff=lfs merge=lfs -text
Videos_for_evaluation/攻壳机动队剧场版_1.mp4 filter=lfs diff=lfs merge=lfs -text
Videos_for_evaluation/孟买野生派系_1.mp4 filter=lfs diff=lfs merge=lfs -text
Videos_for_evaluation/世界风光_1.mp4 filter=lfs diff=lfs merge=lfs -text
Videos_for_evaluation/走进亚马逊_1.mp4 filter=lfs diff=lfs merge=lfs -text
Videos_for_evaluation/北大校长寄语_1.mp4 filter=lfs diff=lfs merge=lfs -text
Videos_for_evaluation/可爱的小熊猫[[:space:]]4K_1.mp4 filter=lfs diff=lfs merge=lfs -text
Videos_for_evaluation/里约运动会_1.mp4 filter=lfs diff=lfs merge=lfs -text
Videos_for_evaluation/真实过山车_1.mp4 filter=lfs diff=lfs merge=lfs -text
Videos_for_evaluation/保护海洋珍稀物种_1.mp4 filter=lfs diff=lfs merge=lfs -text
Videos_for_evaluation/苏勇《漂洋过海来看你》_1.mp4 filter=lfs diff=lfs merge=lfs -text
Videos_for_evaluation/休闲高尔夫_1.mp4 filter=lfs diff=lfs merge=lfs -text
Videos_for_evaluation/恋人好友相处_1.mp4 filter=lfs diff=lfs merge=lfs -text
Videos_for_evaluation/一定记得关门_1.mp4 filter=lfs diff=lfs merge=lfs -text
Videos_for_evaluation/越狱_1.mp4 filter=lfs diff=lfs merge=lfs -text
Videos_for_evaluation/震撼火山喷发全景3D_1.mp4 filter=lfs diff=lfs merge=lfs -text
Videos_for_evaluation/高速下山滑雪_1.mp4 filter=lfs diff=lfs merge=lfs -text
Videos_for_evaluation/火箭喷射升空_1.mp4 filter=lfs diff=lfs merge=lfs -text
Videos_for_evaluation/火星360°全景体验_1.mp4 filter=lfs diff=lfs merge=lfs -text
Videos_for_evaluation/地狱之刃VR体验_1.mp4 filter=lfs diff=lfs merge=lfs -text
Videos_for_evaluation/魔兽电影VR_1.mp4 filter=lfs diff=lfs merge=lfs -text
